* {
    margin: 0;
    padding: 0;
  
  }
  .container {
    color: white;
    text-align: center;
    background-color:  #0a0a23;
    padding-bottom: 50px;
  }
  .logo {
    width: 500px;
  }
  .title{
    margin-bottom: 30px;
  }
  .cont-1 {
    align-items: center;
    background-color: white;
    color: #0a0a23;
    width: 550px;
    height: 110px;
    margin: auto ;
    padding: 30px 10px ;
    border-radius: 20px;
  }
  
  .cont-2{
    display: flex;
  }
  #text-input {
    text-align: center;
    border: none;
    border-bottom: 2px solid #A219FF ;
    display: block;
    width: 60%;
    margin: 10px auto;
    padding: 10px 0;
  }
  #check-btn {
    margin-top: 10px;
    margin-right: 20px ;
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #A219FF;
  }
  footer {
    color: white;
    text-align: center;
    background-color:  #0a0a23;
    padding-bottom: 50px;
     min-height: 50vh; 
  
  }
  .cont-4 {
    background-color: #00471b;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
  }
  .span-palindrome {
    font-style: italic;
  }
  